#root {
  width: 100vw;
  margin: auto;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  z-index: 1;
  color: #fff;
  padding: 1rem;
}

form,
#post-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

button,
input {
  background-color: #333;
  color: #fff;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  max-width: fit-content;
  text-align: center;
  margin: 0.5rem;
}

button:hover,
input:hover {
  background-color: #555;
}

#home-button {
  margin-right: auto;
}

#create-post-button {
  margin-left: auto;
}

#post-content {
  width: 75%;
  height: 300px;
}
