#root {
  width: 100vw;
  margin: auto;
  text-align: center;
}

/* TODO fix the nav bar covering the top of the page content*/
nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  z-index: 1;
  color: #fff;
  padding: 1rem;
}

.create-post,
#post-title {
  margin-top: 80px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

#post-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90%;
}

#post-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  margin: 0 auto;
}

#post-details p {
  text-align: left;
  white-space: pre-line;
}

input {
  width: 100%;
  height: 2rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

button,
input {
  color: #fff;
  border: none;
  font-size: 1rem;
  max-width: fit-content;
  text-align: center;
  margin: 0.5rem;
}

button:hover {
  background-color: #555;
}

#login-form {
  border-radius: 0.5rem;
  padding: 1rem;
  width: fit-content;
}
#post-content {
  width: 60%;
  height: 475px;
  border-radius: 0.5rem;
  border: none;
  margin-bottom: 1rem;
  font-size: 14px;
  padding: 0.5rem;
}

#title {
  margin-bottom: 1rem;
}
