#root {
  width: 100vw;
  margin: auto;
  text-align: center;
}

/* TODO fix the nav bar covering the top of the page content*/
nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  z-index: 999;
  padding: 1rem;
}

.create-post,
#post-title {
  margin-top: 80px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

#post-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90%;
}

#post-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  margin: 0 auto;
}

#post-details p {
  text-align: left;
  white-space: pre-line;
}

input {
  width: 100%;
  height: 2rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

button,
input {
  color: #fff;
  border: none;
  font-size: 1rem;
  max-width: fit-content;
  text-align: center;
  margin: 0.5rem;
}

button:hover {
  background-color: #555;
}

#login-form {
  border-radius: 0.5rem;
  padding: 1rem;
  width: fit-content;
}

#post-details {
  width: 90%;
  backdrop-filter: blur(3px);
  margin-top: 120px;
  padding-top: 0px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#post-details #post-title {
  margin-top: 10px;
}

#post-details-editing textarea {
  width: 90%;
}

#post-content {
  width: 60%;
  height: 475px;
  border-radius: 0.5rem;
  border: none;
  margin-bottom: 1rem;
  font-size: 14px;
  padding: 0.5rem;
}

#title {
  margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {
  nav {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: absolute;
  }

  nav a {
    width: 45%;
  }

  .create-post,
  #post-title {
    margin-top: 130px;
  }

  .create-post #post-content {
    width: 85%;
    height: 425px;
  }
}
